# WSB Database Assignment

By Justin and Hudson Ukass

Notes: 
- Score is not an accurate column value 
- Should look

In [2]:
import pandas as pd
from pandas import DataFrame
import altair as alt
import spacy as sp
# python -m spacy download en_core_web_sm
sp.load('en_core_web_sm')
wsb = pd.read_csv("reddit_wsb.csv")
gme = pd.read_csv("GMEday.csv")
gme.tail(2)

           Date   Open   High    Low  Close     Volume
130  09/30/2020  10.25  10.76  10.06  10.20  6,079,033
131  09/29/2020  10.00  10.65   9.93  10.35  5,244,339

In [8]:
wsb["timestamp"] = pd.to_datetime(wsb["timestamp"], errors='coerce')
gme["Date"] = pd.to_datetime(gme["Date"], errors='coerce')
#wsb["timestamp"].dt.day
#wsb["timestamp"].dt.month
#wsb["timestamp"].dt.year

wsbSimple = wsb.loc[:, ['id', 'title', 'score', 'timestamp']]
wsbSimple = wsbSimple.assign(timestamp=wsbSimple.timestamp.dt.round('D'))
wsbGME = pd.merge(left=wsbSimple, right=gme, how='left', left_on='timestamp', 
                  right_on='Date')

wsbGME = wsbGME.sort_values(by='timestamp', ascending=True)
wsbGME = wsbGME.fillna(method='ffill')
wsbGME = wsbGME.rename(columns={'timestamp' : 'PostDate', 'title' : 'PostTitle', 
                                'score' : 'PostScore', 'Date' : 'MarketDate', 'id' : 'ID'})
#wsbGME.isnull().any()
wsbGME

,ID,PostTitle,PostScore,PostDate,MarketDate,Open,High,Low,Close,Volume
32591,j1fmmo,$CBAT $SUNW $SPI $OXBR Y'all are missing the p...,4,2020-09-29,2020-09-29,10.00,10.65,9.93,10.35,"5,244,339"
253,l6h5b8,What are you doing to AMC?,67,2021-01-28,2021-01-28,265.00,483.00,112.25,193.60,"58,815,809"
232,l6h7ew,With well over a billion trades on $AMC would ...,24,2021-01-28,2021-01-28,265.00,483.00,112.25,193.60,"58,815,809"
231,l6h7n1,Gamma Squeeze Imminent sorrento therapeutics,0,2021-01-28,2021-01-28,265.00,483.00,112.25,193.60,"58,815,809"
230,l6h7oe,Alexis Ohanian to be on CNBC Squawk Box tomorr...,16,2021-01-28,2021-01-28,265.00,483.00,112.25,193.60,"58,815,809"
...,...,...,...,...,...,...,...,...,...,...
43875,mn9a01,100 AAPL 5/21 135 C sold 75 next day,28,2021-04-10,2021-04-08,185.88,185.88,164.30,170.26,"10,047,390"
43874,mn9mfr,Someone bet 40 million dollars that market is ...,464,2021-04-10,2021-04-08,185.88,185.88,164.30,170.26,"10,047,390"
43873,mn9r2v,$FUBO Yolo Update & Another Margin Call (Down ...,45,2021-04-10,2021-04-08,185.88,185.88,164.30,170.26,"10,047,390"
43870,mnb76a,"Every few days, I deposit some money into my a...",42,2021-04-10,2021-04-08,185.88,185.88,164.30,170.26,"10,047,390"
43878,mn8rw6,Tesla Yolo LEAPs of faith,52,2021-04-10,2021-04-08,185.88,185.88,164.30,170.26,"10,047,390"